Package: com.yourcompany.firsttweak
Name: FirstTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: daye
Author: daye
Section: Tweaks
